name: Node CI

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"
          registry-url: "https://npm.pkg.github.com"
      - name: Authenticate with GitHub package registry
        run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" > ~/.npmrc
      - name: Build and publish
        run: |
          npm config set @lookio:registry https://npm.pkg.github.com/
          npm install --global yarn
          yarn install --frozen-lockfile
          git config user.email "team-america-lp@liveperson.com"
          git config user.name "CI User"
          yarn version --patch --message "Bump version to %s"
          git push --follow-tags
          npm publish
        env:
          CI: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
